<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= post.name %></h1>
    <p><%= post.description %></p>
    <img src="<%= post.src %>" alt="">
    <p>Автор: <%= post.author %></p>
    <p>Дата публикации: <%= post.date %></p>
   <button id='button' type="button">Create post</button>
</body>
</html>